<div class="jumbotron">
    <h1>ASP.NET</h1>
    <p class="lead">ASP.NET is a free web framework for building great Web sites and Web applications using HTML, CSS, and JavaScript.</p>
    <p><a href="https://asp.net" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>
</div>
<div class="row">
    <div class="NZMK_DefaultMainDiv">
        <div class="form-group">
            <label for="exampleInputEmail1">Razón Social / Nombre de la empresa</label>
            <input type="text" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="">
        </div>
        <div class="form-group">
            <label for="exampleInputPassword1">Nombre</label>
            <input type="text" class="form-control" id="exampleInputPassword1" placeholder="">
        </div>
        <div class="form-group">
            <label for="exampleInputPassword1">Apellido</label>
            <input type="text"class="form-control" id="exampleCheck1">
        </div>
        <div class="form-group">
            <label for="exampleInputPassword1">Correo electrónico</label>
            <input type="text" class="form-control"" id="exampleCheck1">
        </div>
        <div class="form-group">
            <label for="exampleInputPassword1">Número de vehículos</label>
            <select name="dnn$ctr3470$ViewNZMK_SmartForms$3a1cf7f2-3e98-4982-8ac7-89a89e756e8eInput" id="dnn_ctr3470_ViewNZMK_SmartForms_3a1cf7f2-3e98-4982-8ac7-89a89e756e8eInput" class="form-control custom-select" style="width:100%;">
                <option value="- Por favor, elige -">- Por favor, elige -</option>
                <option value="+501">+501</option>
                <option value="251-500">251-500</option>
                <option value="101-250">101-250</option>
                <option value="51-100">51-100</option>
                <option value="25-50">25-50</option>
                <option value="11-25">11-25</option>
                <option value="1-25">1-26</option>

            </select>
        </div>
        <div class="form-group">
            <label for="exampleInputPassword1">Teléfono</label>
            <input type="text" class="form-control" id="exampleCheck1">
        </div><br />
        <button type="button" id="create-contact" class="btn btn-primary">Submit</button>
    </div>


</div>
